<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="static/simplewebauthn-browser.4.1.0.umd.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <title>{{app_name}} v{{app_version}}</title>
  </head>

  <body>
    {% include 'navigation/main.html' %}
    <div class="container">
      <header>
        <p>
          Our mission is to make an easy onboarding process to have a Hydra Node running on Threefold. The whole process should be as simple as possible and fully documented.
          The next step is to create a simple WebApplication that will be deployed to a virtual machine that also contains the Hydra Daemon. This WebApplication will accept user input, and send it to the Hydra Daemon
        </p>
        <center><img width="300px;" src="static/img/HydraThreeFoldTransparant.png" /></center>
        {% if not wallet_info %}
          {% with with_error_message=true %}
            {% include "hydra/server_commands.html" %}
          {% endwith %}
        {% endif %}
        {{ name_server_pri }}
        <section style="padding: 20px;">
          {% if general_info %}
            {% include "hydra/all_info.html" %}
          {% endif %}
        </section>
        {% include "hydra/logs.html" %}
    </div>



    <script src="static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
