<nav>
    <div class="nav-wrapper">
      {% if app_name and app_version %}
      <a href="#!" class="brand-logo" style="padding-left: 10px;">{{app_name}}
        <span style="padding-left: -5px; font-size: 0.6em; color: gray;"> v{{app_version}}</span>
      </a>
      {% endif %}
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% include "navigation/main_list.html" %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% include "navigation/main_list.html" %}
  </ul>
