<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">photo_camera</i>Mission</div>
      <div class="collapsible-body"><span>{% include "hydra/mission.html" %}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">info_outline</i>General Info</div>
      <div class="collapsible-body"><span>{% include "hydra/general_info.html" %}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">account_balance</i>Wallet Info</div>
      <div class="collapsible-body"><span>{% include "hydra/wallet_info.html" %}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">hot_tub</i>Staking Info</div>
      <div class="collapsible-body"><span>{% include "hydra/staking_info.html" %}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">watch_later</i>Time Info</div>
      <div class="collapsible-body"><span>{% include "utils/time.html" %}</span></div>
    </li>
  </ul>
